.box {
    display: flex;
    perspective: 2000px;
    right: 50px;
    /* margin-top: 50px; */
    /* margin-right: 200px; */
    margin-top: 200px;
    justify-content: center;
  }
  
  .plane {
    width: 4em;
    height: 4em;
    background-color: #007bff;
    transform: rotate(0);
    animation: flip 2s infinite;
  }
  
  @keyframes flip {
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(180deg) rotateX(180deg);
    }
  }
  